* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ff6eff;
    padding: 5px;
    width: 30rem;
    height: 5rem;
    border-radius: 50px;
    margin: 1rem;
    position: relative;
}

.input {
    margin: 1rem 5rem;
    margin-left: 2rem;
    width: 100%;
    color: #ff6eff;
    border: none;
    background: transparent;
    outline: none;
}

.magnifier {
    position: absolute;
    right: 1.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    cursor: pointer;
    color: #ff6eff;
}

ul li {
    display: inline;
    margin-left: 4rem;
    font-family: "Work Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
    padding: 3rem;
    box-shadow: 1rem 1rem 4rem .5rem #e0e0e0;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-container h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 2rem;
    color: #237c7c;
}

.content-container p {
    font-family: "Work Sans", sans-serif;
    line-height: 1.4;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color: #383737;
    width: 26rem;
}

.img {
    transform: translateX(-120px);
    margin-top: 1rem;
    width: 35rem;
    height: 35rem;
    border-radius: 30rem;
    background-image: url('https://images.unsplash.com/photo-1546069901-ba9599a7e63c?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

.fav-btn {
    width: 15rem;
    padding: 1.5rem;
    border-radius: 20px;
    background-color: #ff6eff;
    color: #fff;
    border: 2px solid #ff6eff;
    cursor: pointer;
}

.ingredients {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 5rem;
}

.ingredients ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    margin-top: 1.5rem;
}

.ingredients span {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
}

.ing {
    padding: 1rem 2rem;
    border: 2px solid #ff6eff;
    color: #ff6eff;
    font-family: "Work Sans", sans-serif;
    border-radius: 10rem;
}

.fav-link {
    text-decoration: navajowhite;
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-left: 2.5rem;
    padding: 1rem;
    background-color: #383737;
    border-radius: 40px;
}